@import "tailwindcss";

@layer base {
  :root {
    /* Accent palettes */
    --accent-coral-dark: #F07178;
    --accent-sage-dark: #C3E88D;
    --accent-amber-dark: #F6C177;
    --accent-glacier-dark: #9CCFD8;
    --accent-orchid-dark: #C792EA;
    --accent-sky-dark: #60ADEC;
    --accent-steel-dark: #ABB2BF;

    --accent-coral-light: #b3484d;
    --accent-sage-light: #6b9946;
    --accent-amber-light: #c18f3f;
    --accent-glacier-light: #599cab;
    --accent-orchid-light: #A06CD5;
    --accent-sky-light: #3F8FD6;
    --accent-steel-light: #6B7280;
    
  }
  
  


  /* Themes */
  .palenight, .void {
    /* Dark accents */
    --color-coral-rose: var(--accent-coral-dark);
    --color-sage-green: var(--accent-sage-dark);
    --color-amber-glow: var(--accent-amber-dark);
    --color-glacier-blue: var(--accent-glacier-dark);
    --color-orchid-purple: var(--accent-orchid-dark);
    --color-sky-blue: var(--accent-sky-dark);
    --color-steel-grey: var(--accent-steel-dark);
  }

  .ashlight {
    /* Light accents */
    --color-coral-rose: var(--accent-coral-light);
    --color-sage-green: var(--accent-sage-light);
    --color-amber-glow: var(--accent-amber-light);
    --color-glacier-blue: var(--accent-glacier-light);
    --color-orchid-purple: var(--accent-orchid-light);
    --color-sky-blue: var(--accent-sky-light);
    --color-steel-grey: var(--accent-steel-light);
  }

  /* Theme-specific colors */
  .palenight {
    --background: 229 20% 20%;
    --background-elevated: 229 20% 24%;
    --background-hover: 229 20% 20%;
    --primary: 260 100% 78%;
    --accent: 84, 66%, 73%;
    --border: 0 1% 34%;
    --text: 0 0% 94%;
    --text-muted: 230 6% 68%;
  }

  .void {
    --background: 0 0% 11%;
    --background-elevated: 0 0% 15%;
    --background-hover: 24 12% 21%;
    --primary: 32 90% 50%;
    --accent: 84, 66%, 73%;
    --border: 0 1% 44%;
    --text: 0 0% 94%;
    --text-muted: 28 10% 70%;
  }

  .ashlight {
    --background: 240 14% 91%;
    --background-elevated: 220 14% 94%;
    --background-hover: 220 14% 92%;
    --primary: 32 90% 50%;
    --accent: 208, 65%, 54%;
    --border: 220 8% 54%;
    --text: 220 10% 26%;
    --text-muted: 220 6% 52%;
  }
}

@import "tailwindcss";

/* ---------------- THEME ---------------- */
@theme {
  --font-display: "Ubuntu Mono", monospace;

  /* Base colors */
  --color-background: hsl(var(--background));
  --color-background-elevated: hsl(var(--background-elevated));
  --color-background-hover: hsl(var(--background-hover));
  --color-primary: hsl(var(--primary));
  --color-accent: hsl(var(--accent));
  --color-border: hsl(var(--border));
  --color-text: hsl(var(--text));
  --color-text-muted: hsl(var(--text-muted));


  /* Animations */
  --animate-blink: blink 3s steps(1) infinite;

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
  }
  
}


@layer utilities {

  html, body {
    @apply font-display scroll-m-12;
  }

  button:hover {
    @apply bg-background cursor-pointer text-accent border  border-accent/50 fill-accent;
  }

  /* Headings */
  h1 {
    @apply text-[1.75rem] text-text font-bold ;
  }
  h2 {
    @apply text-[1.25rem] text-text;
  }
  h3 {
    @apply text-[1rem]
  }
  a {
    @apply text-[1rem] text-text;
  }
  a:hover {
    @apply underline text-accent;
  }
  svg {
    @apply fill-text-muted;
  }


  .scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-background;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-full
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/70
  }

  
}


@layer components {
  

  /* Button styles */
  .site-btn__default {
    @apply p-2 text-accent rounded-md;
  }
  .site-btn__primary {
    @apply p-1 border border-border rounded-sm w-full text-text;
  }
  .site-btn__secondary {
    @apply p-1 border border-border rounded-sm w-full text-accent;
  }
  .site-btn__borderless {
    @apply p-1  rounded-sm w-full text-accent;
  }
  .site-btn__active {
    @apply bg-background cursor-pointer text-accent border  border-accent/50 fill-accent;
  }


  /* Site Header */
  .site-header {
    @apply sticky top-0 z-20 w-full flex bg-background/50 backdrop-blur-[10px] justify-center items-center text-accent font-display p-5;
  }
  .site-header__inner {
    @apply w-full flex items-center justify-between h-16 px-4  p-3;
  }

  .site-header__title {
    @apply flex items-center justify-center gap-2;
  }
  .site-header__cursor {
    @apply flex items-center bg-text justify-center w-2.5 h-5 animate-blink;
  }
  .site-header__nav {
    @apply flex items-center h-full justify-center gap-10;
  }
  .site-header__link {
    @apply uppercase;
  }

  /* Sidebar */
  .site-sidebar {
    @apply fixed right-0 top-0 z-40 w-70 h-lvh border-border bg-background-elevated backdrop-blur-3xl shadow-2xl;
  }
  .site-sidebar__inner {
    @apply flex flex-col gap-2 h-full border-l-[0.1px];
  }
  .site-sidebar__section {
    @apply flex flex-col p-4 gap-4;
  }
  .site-sidebar__header {
    @apply  min-w-60 border-border p-4;
  }
  .site-sidebar__footer {
    @apply border;
  }
  .site-sidebar__buttons {
    @apply grid grid-cols-2 gap-2 border-[0.25px] border-border p-1 rounded-md;
  }
  .site-sidebar__themes {
    @apply flex flex-col justify-center gap-4;
  }
  .site-sidebar__buttons > :last-child {
    @apply col-span-2;
  }
  .site-sidebar__accent-button {
    @apply aspect-square w-auto h-3 p-4 min-h-0;
  }
}






