@import "tailwindcss";

@layer base {
  :root {

    /* Accent colors */
    --color-coral-rose: #F07178;        /* warm pinkish coral */
    --color-sage-green: #C3E88D;        /* soft muted green */
    --color-amber-glow: #F6C177;        /* warm golden amber */
    --color-glacier-blue: #9CCFD8;      /* pale icy blue */
    --color-orchid-purple: #C792EA;     /* light vibrant purple */
    --color-sky-blue: #60ADEC;          /* clear mid blue */
    --color-steel-grey: #ABB2BF;        /* cool neutral grey */


    /* Default Theme Colors */
    --background: 207, 95%, 8%;
    --background-elevated: 207, 95%, 8%;
    --background-hover: 220 14% 22%;
    --foreground: 0 0% 96%;
    --primary: 210 60% 86%;
    --accent: 145 45% 82%;
    --border: 220 12% 36%;
    --text: 0 0% 94%;
    --text-muted: 220 6% 68%;
  }


  .palenight {
    --background: 229, 20%, 20%;
    --background-elevated: 229, 20%, 24%;
    --background-hover: 229 20% 20%;
    --foreground: 0 0% 96%;
    --primary: 260, 100%, 88%;
    --accent:260, 100%, 88%;
    --border: 0, 1%, 34%;
    --text: 0 0% 94%;
    --text-muted: 230 6% 68%;
  }


  .sunset-horizon {
    --background: 0, 0%, 11%;
    --background-elevated: 0, 0%, 15%;
    --background-hover: 24 12% 21%;
    --foreground: 0 10% 96%;
    --primary: 32 90% 50%;
    --accent: 42 85% 56%;
    --border: 0, 1%, 44%;
    --text: 0 0% 94%;
    --text-muted: 28 10% 70%;
  }


  .forest-breeze {
    --background: 160 20% 13%;
    --background-elevated: 160 20% 16%;
    --background-hover: 160 20% 19%;
    --foreground: 0 0% 96%;
    --primary: 135 38% 48%;
    --accent: 95 60% 55%;
    --border: 150 14% 30%;
    --text: 0 0% 94%;
    --text-muted: 150 8% 68%;
  }
}


@theme {

  /* Accents */

  --color-orange: hsl(var(--orange));
  --color-aubergine: hsl(var(--aubergine));
  --color-canonical: hsl(var(--canonical));
  --color-warm-grey: hsl(var(--warm-grey));
  --color-terminal-green: hsl(var(--terminal-green));
  --color-terminal-blue: hsl(var(--terminal-blue));
  --color-bright-blue: hsl(var(--bright-blue));
  --color-terminal-red: hsl(var(--terminal-red));
  --color-bright-red: hsl(var(--bright-red));
  --color-terminal-yellow: hsl(var(--terminal-yellow));
  --color-terminal-cyan: hsl(var(--terminal-cyan));

  /* typography */
  --font-display: Ubuntu Mono, sans serif;
  /* Base colors */
  --color-background: hsl(var(--background));
  --color-background-elevated: hsl(var(--background-elevated));
  --color-background-hover: hsl(var(--background-hover));
  --color-foreground: hsl(var(--foreground));
  --color-primary: hsl(var(--primary));
  --color-accent: hsl(var(--accent));
  --color-border: hsl(var(--border));
  --color-text: hsl(var(--text));
  --color-text-muted: hsl(var(--text-muted));
}


@layer utilities {

  button:hover {
    @apply bg-background cursor-pointer text-accent border  border-accent/50 fill-accent;
  }

  button:hover > svg {
    @apply fill-accent;
  }

  /* Headings */
  h1 {
    @apply text-[1.25rem];
  }
  h2 {
    @apply text-[1rem] text-text;
  }
  a {
    @apply text-[1rem] text-text;
  }
  a:hover {
    @apply underline text-accent;
  }
  svg {
    @apply fill-text-muted;
  }
}


@layer components {
  /* Button styles */
  .site-btn__default {
    @apply p-2 text-accent rounded-md;
  }
  .site-btn__primary {
    @apply p-1 border border-border rounded-sm w-full text-text;
  }
  .site-btn__secondary {
    @apply p-1 border border-border rounded-sm w-full text-accent;
  }
  .site-btn__borderless {
    @apply p-1  rounded-sm w-full text-accent;
  }
  .site-btn__active {
    @apply bg-background cursor-pointer text-accent border  border-accent/50 fill-accent;
  }


  /* Site Header */
  .site-header {
    @apply w-full flex justify-center items-center text-accent font-display p-5;
  }
  .site-header__inner {
    @apply w-full max-w-360 flex items-center justify-between h-16 px-4 bg-background-elevated border-[0.25px] border-accent p-3 rounded-md shadow-2xl;
  }
  .site-header__title {
    @apply flex items-center justify-center gap-2;
  }
  .site-header__cursor {
  @apply flex items-center justify-center bg-foreground w-2 h-6;
  }
  .site-header__nav {
    @apply flex items-center h-full justify-center gap-6 ;
  }


  /* Sidebar */
  .site-sidebar {
    @apply absolute top-0 h-full right-0 w-70  border-border bg-background-elevated shadow-2xl;
  }
  .site-sidebar__inner {
    @apply flex flex-col gap-2 h-full border-l-[0.1px];
  }
  .site-sidebar__section {
    @apply flex flex-col p-4 gap-4;
  }
  .site-sidebar__header {
    @apply  min-w-60 border-border p-4;
  }
  .site-sidebar__footer {
    @apply border;
  }
  .site-sidebar__buttons {
    @apply grid grid-cols-2 gap-2 border-[0.25px] border-border p-1 rounded-md;
  }
  .site-sidebar__themes {
    @apply flex flex-col justify-center gap-4;
  }
  .site-sidebar__buttons > :last-child {
    @apply col-span-2;
  }
  .site-sidebar__accent-button {
    @apply aspect-square w-auto h-3 p-4 min-h-0;
  }
}






