@import "tailwindcss";

@layer base {
  :root {
    /* Accent palettes dark theme*/
    --accent-coral-dark: #F07178;
    --accent-sage-dark: #C3E88D;
    --accent-amber-dark: #F6C177;
    --accent-glacier-dark: #9CCFD8;
    --accent-orchid-dark: #C792EA;
    --accent-sky-dark: #60ADEC;
    --accent-steel-dark: #ABB2BF;
    /* Accent palettes light theme */
    --accent-coral-light: #b3484d;
    --accent-sage-light: #6b9946;
    --accent-amber-light: #c18f3f;
    --accent-glacier-light: #599cab;
    --accent-orchid-light: #A06CD5;
    --accent-sky-light: #3F8FD6;
    --accent-steel-light: #6B7280;

  }
}


/* Themes */
@layer base {
  .palenight, .void {
    /* Dark accents */
    --color-coral-rose: var(--accent-coral-dark);
    --color-sage-green: var(--accent-sage-dark);
    --color-amber-glow: var(--accent-amber-dark);
    --color-glacier-blue: var(--accent-glacier-dark);
    --color-orchid-purple: var(--accent-orchid-dark);
    --color-sky-blue: var(--accent-sky-dark);
    --color-steel-grey: var(--accent-steel-dark);
  }

  .ashlight {
    /* Light accents */
    --color-coral-rose: var(--accent-coral-light);
    --color-sage-green: var(--accent-sage-light);
    --color-amber-glow: var(--accent-amber-light);
    --color-glacier-blue: var(--accent-glacier-light);
    --color-orchid-purple: var(--accent-orchid-light);
    --color-sky-blue: var(--accent-sky-light);
    --color-steel-grey: var(--accent-steel-light);
  }

  /* Theme-base colors */
  .palenight {
    --surface-base: 229 20% 20%;
    --surface-elevated: 229 20% 24%;
    --surface-hovered: 229 20% 20%;
    --primary: 260 100% 78%;
    --accent: 84, 66%, 73%;
    --border: 0 1% 34%;
    --fg-base: 229 7% 86%;
    --fg-muted: 230 6% 68%;
  }

  .void {
    --surface-base: 0 0% 11%;
    --surface-elevated: 0 0% 15%;
    --surface-hovered: 24 12% 21%;
    --primary: 32 90% 50%;
    --accent: 84, 66%, 73%;
    --border: 0 1% 44%;
    --fg-base: 229 7% 86%;
    --fg-muted: 28 10% 70%;
  }



  .ashlight {
    --surface-base: 240 14% 91%;
    --surface-elevated: 220 14% 94%;
    --surface-hovered: 220 14% 92%;
    --primary: 32 90% 50%;
    --accent: 208, 65%, 54%;
    --border: 220 8% 54%;
    --fg-base: 0 0% 28%;
    --fg-muted: 220 6% 52%;
  }
}

@theme {
  /* Font Styles */
  --font-display: "Ubuntu Mono", monospace;

  /* Font Sizes */
  --text-ui: 0.75rem;
  --text-base: 1rem;
  --text-heading: 1.25rem;

  /* UI Colors */
  --color-surface-base: hsl(var(--surface-base));
  --color-surface-elevated: hsl(var(--surface-elevated));
  --color-surface-hovered: hsl(var(--surface-hovered));
  --color-primary: hsl(var(--primary));
  --color-accent: hsl(var(--accent));
  --color-border: hsl(var(--border));
  --color-fg-base: hsl(var(--fg-base));
  --color-fg-muted: hsl(var(--fg-muted));



  /* Animations */
  --animate-blink: blink 3s steps(1) infinite;

  @keyframes blink {
    0%, 100% {
      opacity: 1;
    }
    20% {
      opacity: 0;
    }
  }
}



@layer utilities{
  html, body {
    @apply font-display scroll-m-12;
  }

  button:hover {
    @apply bg-surface-base cursor-pointer text-accent border border-accent/50 fill-accent;
  }

  /* Headings */
  h1 {
    @apply text-[1.75rem] text-fg-base font-bold ;
  }
  h2 {
    @apply text-[1.25rem] text-fg-base;
  }
  h3 {
    @apply text-[1rem]
  }
  p {
    @apply text-[1.2rem] text-fg-base leading-relaxed;
  }
  a {
    @apply text-[1rem] text-fg-base;
  }
  a:hover {
    @apply underline text-accent;
  }
  svg {
    @apply fill-accent;
  }
}


@layer utilities {

  .scrollbar::-webkit-scrollbar {
    @apply w-1.5;
  }

  .scrollbar::-webkit-scrollbar-track {
    @apply bg-surface-base;
  }
  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-accent rounded-full;
  }
  .scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-accent/70;
  }

  
}


@layer components {  


  /* Button styles */
  .site-btn__default {
    @apply bg-surface-base p-2 text-accent rounded-md;
  }
  .site-btn__primary {
    @apply bg-surface-base p-1 border border-accent/40 rounded-sm w-full text-fg-base;
  }
  .site-btn__secondary {
    @apply bg-surface-base p-1 border border-accent/40 rounded-sm w-full text-accent;
  }
  .site-btn__borderless {
    @apply bg-surface-base p-1 rounded-sm w-full text-accent;
  }
  .site-btn__active {
    @apply bg-accent/5 cursor-pointer text-accent border border-accent/60;
  }



  /* Site Header */
  .site-header {
    @apply sticky top-0 z-20 w-full flex bg-surface-base/50 backdrop-blur-[10px] justify-center items-center text-accent font-display;
  }
  .site-header__inner {
    @apply w-full flex items-center justify-between h-10 p-10;
  }

  .site-header__title {
    @apply flex items-center justify-center gap-2;
  }
  .site-header__cursor {
    @apply flex items-center bg-fg-base justify-center w-2.5 h-5 animate-blink;
  }
  .site-header__nav {
    @apply flex items-center h-full justify-center gap-10;
  }
  .site-header__link {
    @apply uppercase;
  }

  /* Sidebar */
  .site-sidebar {
    @apply fixed right-0 top-0 z-40 w-70 h-lvh border-fg-muted bg-surface-elevated backdrop-blur-3xl shadow-2xl;
  }
  .site-sidebar__inner {
    @apply flex flex-col gap-2 h-full border-l border-accent/10;
  }
  .site-sidebar__section {
    @apply flex flex-col p-4 gap-4;
  }
  .site-sidebar__header {
    @apply  min-w-60 border-border p-4;
  }
  .site-sidebar__footer {
    @apply border;
  }
  .site-sidebar__buttons {
    @apply grid grid-cols-2 gap-2 border-[0.25px] border-border p-1 rounded-md;
  }
  .site-sidebar__themes {
    @apply flex flex-col justify-center gap-4;
  }
  .site-sidebar__buttons > :last-child {
    @apply col-span-2;
  }
  .site-sidebar__accent-button {
    @apply aspect-square w-auto h-3 p-4 min-h-0;
  }
}






